.vscode
.pytest_cache
.idea
.DS_Store
__pycache__
.env
.venv
*.db
*.log
backend/db_proxy/access_secret_file
backend/db_proxy/token
service-account-credentials.json
.ruff_cache
build/
*.egg-info/
*_pb2.py*
