.vscode
.pytest_cache
.idea
.DS_Store
__pycache__
.env
.venv
*.db
*.log
service_account_credentials.json
.ruff_cache
apps/web_gateway/config
packages/common_db/config
build/
*.egg-info/
*_pb2.py*
*locdev*
old_platform_migration/pythonProject/converted
old_platform_migration/pythonProject/downloaded
