/backend/db_proxy/.config
.idea
.DS_Store
__pycache__
.env
.venv
*.db
*.json
*.log
backend/db_proxy/access_secret_file
backend/db_proxy/token
service-account-credentials.json
.ruff_cache
build/
*.egg-info/
Dockerfile-matching

