aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
APScheduler
asyncpg
attrs
certifi
charset-normalizer
dnspython
email_validator
frozenlist
greenlet
idna
magic-filter
multidict
phonenumbers
propcache
pycountry
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
pytz
requests
six
SQLAlchemy
typing_extensions
tzlocal
urllib3
yarl
