asyncpg
black
certifi
eval_type_backport
fastapi
gcloud-aio-storage
google-cloud-pubsub
greenlet
pillow
pydantic
pydantic_settings
python-multipart
SQLAlchemy
uvicorn

# private packages
alumnihub_event_emitter
